<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui.jqgrid.css" /> 	
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery-ui-1.8.11.custom.css" /> 	

		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js" ></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/grid.locale-gl.js" ></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jqGrid.min.js" ></script>

		<script type="text/javascript" src="{{ MEDIA_URL }}js/FacturaGridConf.js" ></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/DetalleFacturaGridConf.js" ></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/ServizoGridConf.js" ></script>

		<script type="text/javascript">

		
$(document).ready(function () {

    /******
      Grids
      ******/

    var caption = $("#caption");
    var caption2 = $("#caption2");

    // Grid Viaxes
    var selectedViaxe = false;
    var selectedFinca = false;


        /************************************************************
         3rd GRID - Servizos Forestais
          ************************************************************/

        var servizoSubgrid = function (subgrid_id, row_id) {
            var subgrid_table_id;
            var pager_id;

            subgrid_table_id = subgrid_id + "_t2";
            pager_id = "p2_" + subgrid_table_id;

            $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table><div id='" + pager_id + "' class='scroll'></div>");


            $.extend(servizoGridConf, {
                url: '{% url forestal2.fincas.views.grid %}',
                pager: '#'+pager_id
            });

            $("#" + subgrid_table_id).jqGrid(servizoGridConf)
            .navGrid('#'+pager_id, {'add':false, 'edit':false, 'del':false, 'search':true
              }, {}, {}, {}, {
            multipleSearch: true
            })
            .jqGrid('navButtonAdd', '#'+pager_id, {
                                  caption: "Asoc. a Detalle",
                                  title: "Asociar Tala a linea de Detalle",
                                  onClickButton: function(e) {
                                      var selrow = $("#" + subgrid_table_id).getGridParam("selrow");
                                      if (selrow)
                                          asocServizoDetalle(row_id, selrow);
                                  }
                              });

            var asocServizoDetalle = function(row_id, selrow) {
              $.ajax({
                  url: "{% url forestal2.empresas.views.assocservizodetalle %}",
                  data: {
                      detalle: row_id,
                      servizo: selrow
                  },
                  dataType: "text",
                  error: function (e) {
                      alert("Erro asociando filas (client)");
                  },
                  success: function (data, a, b) {
                      if (data == "OK") {
                          $("#" + subgrid_table_id).trigger("reloadGrid");
                      } else {
                          alert("Erro asociando filas (server)");
                      }
                  }
              });
            };
        }; 


          /************************************************************
           2nd GRID - Detalle Factura
            ************************************************************/
          var detalleFacturaSubGrid = function (subgrid_id, row_id) {
              var subgrid_table_id;
              var pager_id;

              subgrid_table_id = subgrid_id + "_t";
              pager_id = "p_" + subgrid_table_id;

              $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table><div id='" + pager_id + "' class='scroll'></div>");

              $.extend(detalleFacturaGridConf, {
                  url: '{% url forestal2.empresas.views.griddetallefactura %}/' + row_id,
                  pager: '#'+pager_id,

                  subGrid: true,
                  subGridUrl: '{% url forestal2.fincas.views.grid %}',
                  subGridRowExpanded: servizoSubgrid
              });

              $("#" + subgrid_table_id).jqGrid(detalleFacturaGridConf)
              .jqGrid('navGrid', '#'+pager_id, {
                  'add': true,
                  'edit': true,
                  'del': false,
                  'search': true,
                  editfunc: function () {
                      var selrow = $("#" + subgrid_table_id).getGridParam("selrow");
                      var editUrl = '{% url admin:empresas_detallefactura_change 0 %}'.replace('0', selrow);
                      window.open(editUrl, '_blank', 'scrollbars=1,status=1,menubar=1,location=1');
                  },
                  addfunc: function () {
                      var addUrl = '{% url forestal2.empresas.views.adddetallefactura %}' + '/'+ row_id;

                      $.ajax({
                          url: addUrl,
                          method: 'get',
                          success: function(r) {
                              $("#" + subgrid_table_id).trigger("reloadGrid");
                          },
                          error: function(e) {
                              alert("There was an error saving DetalleFactura: " + e);
                          }
                      });
                  }
              }, {}, {}, {}, {
                  multipleSearch: true
              });
        }


        /************************************************************
         1st GRID - Factura
         ************************************************************/
        $.extend(facturaGridConf, {
            url: '{% url forestal2.empresas.views.gridfactura %}',
            subGrid: true,
            subGridUrl: '{% url forestal2.empresas.views.griddetallefactura %}',
            subGridRowExpanded: detalleFacturaSubGrid
        });

        $("#list2").jqGrid(facturaGridConf)
        .jqGrid('navGrid', '#pager2', {
            'add': true,
            'edit': true,
            'del': false,
            'search': true,
            editfunc: function () {
                var selrow = $("#list2").getGridParam("selrow");
                var editUrl = '{% url admin:empresas_factura_change 0 %}'.replace('0', selrow);
                window.open(editUrl, '_blank', 'scrollbars=1,status=1,menubar=1,location=1');
            },
            addfunc: function () {
                var addUrl = '{% url admin:empresas_factura_add %}';
                window.open(addUrl, '_blank', 'scrollbars=1,status=1,menubar=1,location=1');
            }
        }, {}, {}, {}, {
            multipleSearch: true
        });

    });


		</script>
	</head>

<body>

<style>
	.gray { background-color:lightgray; color:white; }
	#associate {visibility:hidden; padding-top:15px; }
	#associateCompany {visibility:hidden; padding-top:15px; }
	#caption, #caption2 {padding:8px;}
</style>

<center>
	
<a href="{% url admin:index %}">Administración</a>

<p />

<table id="list2"></table> 
<div id="pager2"></div> 

<div id="caption2" ></div>

<table id="list"></table> 
<div id="pager"></div> 

<div id="caption" ></div>



</center>

</body>
</html>
