<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui.jqgrid.css" /> 	
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery-ui-1.8.11.custom.css" /> 	

		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js" ></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/grid.locale-gl.js" ></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jqGrid.min.js" ></script>
		<script type="text/javascript">

		
$(document).ready(function () {

    var caption = $("#caption");
    var caption2 = $("#caption2");

    // Grid Viaxes
    var selectedViaxe = false;
    var selectedFinca = false;


    /*********
     Facturas Grid
     +********/

    $(function () {
        /************************************************************
         1st GRID - Bottom - Servizos Forestais
         ************************************************************/
        $("#list2").jqGrid({
            url: '{% url forestal2.empresas.views.gridfactura %}',
            datatype: "json",
            colNames: ['id', 'empresa', 'cliente', 'tipo', 'numero', 'emision'],
            colModel: [{
                name: 'id',
                index: 'id',
                width: 50
            }, {
                name: 'empresa',
                index: 'empresa',
                width: 200
            }, {
                name: 'cliente',
                index: 'cliente',
                width: 200,
            }, {
                name: 'tipo',
                index: 'tipo',
                width: 150,
                align: 'right'
            }, {
                name: 'numero',
                index: '',
                width: 90,
                align: "center"
            }, {
                name: 'emision',
                index: 'emision',
                width: 100,
                align: "center"
            }],
            caption: "Facturas",
            height: "auto",
            rowNum: 15,
            sortname: 'id',
            sortorder: "asc",
            pager: '#pager2',
            //postData:{id:$('table#'+subgrid_table_id+' tbody tr#'+row_id+' td[aria-describedby=list2_id_origen]').html()},
                  //editUrl: "server.php",

            subGrid: true,
            subGridUrl: '{% url forestal2.empresas.views.griddetallefactura %}',

            subGridRowExpanded: function (subgrid_id, row_id) {
                /************************************************************
                 2nd GRID - Detalle Factura
                  ************************************************************/
                var subgrid_table_id;
                var pager_id;

                subgrid_table_id = subgrid_id + "_t";
                pager_id = "p_" + subgrid_table_id;
                $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table><div id='" + pager_id + "' class='scroll'></div>");
                $("#" + subgrid_table_id).jqGrid({
                    url: '{% url forestal2.empresas.views.griddetallefactura %}/' + row_id,
                    datatype: "json",
                    colNames: ['id', 'servizo', 'concepto', 'tipo_iva', 'tipo_irpf', 'cantidad', 'valor'],
                    colModel: [{
                        name: 'id',
                        index: 'id',
                        width: 50
                    }, {
                        name: 'servizo',
                        index: 'servizo',
                        width: 100
                    }, {
                        name: 'concepto',
                        index: 'concepto',
                        width: 100,
                        align: 'right'
                    }, {
                        name: 'tipo_iva',
                        index: 'tipo_iva',
                        width: 40,
                        align: 'right'
                    }, {
                        name: 'tipo_irpf',
                        index: 'tipo_irpf',
                        width: 40,
                        align: "center"
                    }, {
                        name: 'cantidad',
                        index: 'cantidad',
                        width: 80,
                        align: "center"
                    }, {
                        name: 'valor',
                        index: 'valor',
                        width: 75,
                        align: "center"
                    }],
                    caption: "Detalle",
                    height: "auto",
                    rowNum: 15,
                    sortname: 'id',
                    sortorder: "asc",
                    pager: pager_id
              })
              .jqGrid('navGrid', '#pager2', {
                  'add': true,
                  'edit': true,
                  'del': false,
                  'search': true,
                  editfunc: function () {
                      var selrow = $("#list2").getGridParam("selrow");
                      var editUrl = '{% url admin:empresas_detallefactura_change 0 %}'.replace('0', selrow);
                      window.open(editUrl, '_blank', 'scrollbars=1,status=1,menubar=1,location=1');
                  },
                  addfunc: function () {
                      var addUrl = '{% url admin:empresas_detallefactura_add %}';
                      window.open(addUrl, '_blank', 'scrollbars=1,status=1,menubar=1,location=1');
                  }
              }, {}, {}, {}, {
                  multipleSearch: true
              });
          }
        })
        .jqGrid('navGrid', '#pager2', {
            'add': true,
            'edit': true,
            'del': false,
            'search': true,
            editfunc: function () {
                var selrow = $("#list2").getGridParam("selrow");
                var editUrl = '{% url admin:empresas_factura_change 0 %}'.replace('0', selrow);
                window.open(editUrl, '_blank', 'scrollbars=1,status=1,menubar=1,location=1');
            },
            addfunc: function () {
                var addUrl = '{% url admin:empresas_factura_add %}';
                window.open(addUrl, '_blank', 'scrollbars=1,status=1,menubar=1,location=1');
            }
        }, {}, {}, {}, {
            multipleSearch: true
        });


      function asocServizoDetalle() {
      }


        /***************
          3rd GRID
          *************/

      $("#list").jqGrid({
        url:'{% url forestal2.fincas.views.grid %}',
        datatype: 'json',
        mtype: 'GET',
        colNames:['id','concello', 'poligon','parcela','Permiso','Comezo','Codigo'],
        colModel :[ 
          {name:'id', index:'id', width:55}, 
          {name:'concello', index:'concello', width:150}, 
          {name:'poligon', index:'poligon', width:80, align:'right'}, 
          {name:'parcela', index:'parcela', width:90, align:'right'}, 
          {name:'permiso', index:'permiso', width:140, align:"center"}, 
          {name:'comezo', index:'comezo', width:140, align:"center"},
          {name:'codigoPECL', index:'codigoPECL', width:140, align:"center"} 
        ],
        pager: '#pager',
        rowNum:20,
        rowList:[20,30],
        sortname: 'comezo',
        sortorder: 'asc',
        //viewrecords: true,
        caption: 'Servizos',
        height: 'auto',

        beforeSelectRow: function(id) {

          if (id == selectedFinca) {
            selectedFinca= false;
            caption2.html("Finca Non Seleccionada.");
          } else {
            selectedFinca= id;
            caption2.html("Finca "+id+" Seleccionada.");
          }
          return true;

        }

      })
      .navGrid('#pager', {'add':false, 'edit':false, 'del':false, 'search':true
        }, {}, {}, {}, {
      multipleSearch: true
      })
      .jqGrid('navButtonAdd', '#pager', {
                            caption: "Asoc. a Detalle",
                            title: "Asociar Tala a linea de Detalle",
                            onClickButton: asocServizoDetalle
                        });

      }); 


		});

		</script>
	</head>

<body>

<style>
	.gray { background-color:lightgray; color:white; }
	#associate {visibility:hidden; padding-top:15px; }
	#associateCompany {visibility:hidden; padding-top:15px; }
	#caption, #caption2 {padding:8px;}
</style>

<center>
	
<a href="{% url admin:index %}">Administración</a>

<p />

<table id="list2"></table> 
<div id="pager2"></div> 

<div id="caption2" ></div>

<table id="list"></table> 
<div id="pager"></div> 

<div id="caption" ></div>



</center>

</body>
</html>
