<html>
<head>
    <title>Forestal Villar - Xestión e Administración</title>
</head>
<body style="background-color:#5E5;font-family:Verdana;">
    <center>
    <div style="width:800px;">
        <h1>Forestal Villar</h2
        <div style="background-color:white;border:1px solid #2A2;">
        <a href="/admin"><h3>Administración</h3></a>
        </div>

        <div>
        <h5 style="background-color:#DD2;border:10px solid #9E0;">
        Intranet para uso estrictamente privado do persoal interno de Forestal Villar - Tahona os Pedrouzos, S.L. Prohibida la reproducción total o parcial de los contenidos de este sitio web salvo expresa autorización de sus propietarios legales. 
        </h5>
        </div>
    <div>
    </center>

</body>
</html>

