{% extends 'admin/base_site.html' %}
{% block content %}

		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui.jqgrid.css" /> 	
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery-ui-1.8.11.custom.css" /> 	



<style>
	.gray { background-color:lightgray; color:white; }
	#associate {visibility:hidden; padding-top:15px; }
	#associateCompany {visibility:hidden; padding-top:15px; }
	#caption, #caption2 {padding:8px;}
</style>

<center>
	
<p />

{% if listaCamions %}
<h3>Lista de camions</h3>
<table>
{% for camion in listaCamions %}
<tr><td><a href="{% url admin:fincas_viaxecamion_change camion.pk %}">{{ camion }}</a></td></tr>	
{% endfor %}
</table>
{% endif %}

<table id="list2"></table> 
<div id="pager2"></div> 

<div id="caption" ></div>

{% if restriction == "origin" %}

<table id="list"></table> 
<div id="pager"></div> 

{% else %}{% if restriction == "destination" %}

<select id="companySelect">
	{% for empresa in empresas %}
	<option value="{{ empresa.pk }}" >{{ empresa }}</option>
	{% endfor %}
</select>
<input type="button" value="Asociar" id="associateCompany" />

{% endif %}
{% endif %}

<div id="caption2" ></div>

<input type="button" value="Asociar" id="associate" />

</center>

{% endblock %}

{% block footer %}{{ block.super }}
<script type="text/javascript" charset="utf-8">

    var js_files = [
        {
            src : "{{ MEDIA_URL }}js/grid.locale-gl.js",
            test: function() { return true; }
        },
        {
            src : "{{ MEDIA_URL }}js/jquery.jqGrid.min.js",
            test: function() { return true; }
        }
    ];

    loadScripts(js_files, function(){
        jQuery(document).ready(function () {
          doGrid();
        });
    });
		
var doGrid = function () {

    var caption = $("#caption");
    var caption2 = $("#caption2");

    // Grid Viaxes
    var selectedViaxe = false;
    var selectedFinca = false;

    $(function () {
        /************************************************************
         1st GRID - Servizos Forestais
         ************************************************************/
        $("#list2").jqGrid({
            url: '{% url forestal2.fincas.views.grid %}',
            datatype: "json",
            colNames: ['id', 'concello', 'poligono', 'parcela', 'm2_permiso','Permiso', 'Comezo', 'entradaGrupo', 'data PEFC saida', 'Codigo PEFC', 'ENCE'],
            colModel: [{
                name: 'id',
                index: 'id',
                width: 50
            }, {
                name: 'concello',
                index: 'concello',
                width: 100
            }, {
                name: 'poligono',
                index: 'poligono',
                width: 45,
                align: 'right'
            }, {
                name: 'parcela',
                index: 'parcela',
                width: 70,
                align: 'right'
            }, {
                name: 'm2_permiso',
                index: 'm2_permiso',
                width: 70,
                align: 'right'
            }, {
                name: 'permiso',
                index: 'permiso',
                width: 105,
                align: "center"
            }, {
                name: 'comezo',
                index: 'comezo',
                width: 105,
                align: "center"
            }, {
                name: 'entradaGrupo',
                index: 'entradaGrupo',
                width: 105,
                align: "center"
            }, {
                name: 'data PEFC saida',
                index: 'dataPECLsaida',
                width: 105,
                align: "center"
            }, {
                name: 'codigo PEFC',
                index: 'codigoPECL',
                width: 140,
                align: "center"
            }, {
                name: 'ENCE',
                index: 'codigoNORFOR',
                width: 75,
                align: "center"
            }],
            caption: "Servizos Forestais - Orixe",
            height: "auto",
            rowNum: 15,
            sortname: 'id',
            sortorder: "asc",
            pager: '#pager2',
            //postData:{id:$('table#'+subgrid_table_id+' tbody tr#'+row_id+' td[aria-describedby=list2_id_origen]').html()},
                  //editUrl: "server.php",

            subGrid: true,
            subGridUrl: '{% url forestal2.fincas.views.gridviaxe %}',

            subGridRowExpanded: function (subgrid_id, row_id) {
                /************************************************************
                 2nd GRID - Viaxes de Camion
                  ************************************************************/
                var subgrid_table_id;
                var pager_id;

                function changeViaxe() {
                    var selrow2 = $("#" + subgrid_table_id).getGridParam("selrow");
                    if (isNaN(selrow2) || selrow2 == null) {
                        alert("Seleccionar fila de viaxe camion");
                        return false;
                    }

                    var r = confirm("Dessociar servizo " + row_id + " con viaxe " + selrow2 + " ?")
                    if (r) {

                        $.ajax({
                            url: '{% url forestal2.fincas.views.desassocviaxeservizo%}',
                            data: {
                                servizo: row_id,
                                viaxe: selrow2 
                            },
                            dataType: "text",
                            error: function (e) {
                                alert("Erro asociando filas (client)");
                            },
                            success: function (data, a, b) {
                                if (data == "OK") {
                                    $("#list2").trigger("reloadGrid");
                                } else {
                                    alert("Erro desasociando filas (server)");
                                }
                            }
                        });

                    }

                }

                function exportViaxes()
                {   
                    var list = $("#" + subgrid_table_id)
                    var mya=new Array();
                    mya=list.getDataIDs();  // Get All IDs
                    var data=list.getRowData(mya[0]);     // Get First row to get the labels
                    var colNames=new Array(); 
                    var ii=0;
                    for (var i in data){colNames[ii++]=i;}    // capture col names
                    var html="<table>";
                    for(i=0;i<mya.length;i++)
                        {
                        data=list.getRowData(mya[i]); // get each row
                        html+="<tr>";
                        for(j=0;j<colNames.length;j++)
                            {
                              html=html+'<td>'+data[colNames[j]]+"</td>"+"\t"; // output each column as tab delimited
                            }
                        html=html+"</tr>\n";  // output each row with end of line

                        }
                    html=html+"</table>\n";  // end of line at the end

                    var w = window.open("","Export "+Number(new Date),"location=1,status=1,width=500,height=500");
                    w.document.body.innerHTML = html;

                    /*
                    document.forms[0].csvBuffer.value=html;
                    document.forms[0].method='POST';
                    document.forms[0].action='csvExport.php';  // send it to server which will open this contents in excel file
                    document.forms[0].target='_blank';
                    document.forms[0].submit();
                    */
                }
                

                  subgrid_table_id = subgrid_id + "_t";
                  pager_id = "p_" + subgrid_table_id;
                  $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table><div id='" + pager_id + "' class='scroll'></div>");
                $("#" + subgrid_table_id).jqGrid({
                    url: '{% url forestal2.fincas.views.gridviaxe %}' + '/' + row_id,
                    datatype: 'json',
                    mtype: 'GET',
                    colNames: ['id', 'dia', 'camion', 'tm', 'origen', 'destino', 'n_talonario', 'obs','id_origen'],
                    colModel: [{
                        name: 'id',
                        index: 'id',
                        width: 55
                    }, {
                        name: 'dia',
                        index: 'dia',
                        width: 100
                    }, {
                        name: 'camion',
                        index: 'camion',
                        width: 220,
                        align: 'right'
                    }, {
                        name: 'tm',
                        index: 'tm',
                        width: 70,
                        align: 'right'
                    }, {
                        name: 'origen',
                        index: 'origen',
                        width: 190,
                        align: "center"
                    }, {
                        name: 'destino',
                        index: 'destino',
                        width: 150,
                        align: "center"//,
                        //editable: true,
                        //edittype: "select",
                        //editoptions: {
                        //    value: "{{ empresasText }}"
                        //}
                    }, {
                        name: 'n_talonario',
                        index: 'n_talonario',
                        width: 120,
                        align: "center"
                    }, {
                        name: 'obs',
                        index: 'obs',
                        width: 35,
                        align: "center"
                    },

                    // hidden
                    {
                        name: 'id_origen',
                        index: 'id_origen',
                        width: 20,
                        hidden: true
                    }

                    ],
                    pager: pager_id,
                    rowNum: 20,
                    rowList: [20, 30],
                    sortname: 'dia',
                    sortorder: 'desc',
                    viewrecords: true,
                    caption: 'Viaxes de Camion',
                    height: 'auto',
                    postData: {
                        'restriction': '{{ restriction }}'
                    }
                    
                    //editurl: "server.php",
                        /*

                    subGrid: true,

                    subGridRowExpanded: function (subgrid_id2, row_id2) {
                        /************************************************************
                         3rd GRID
                         ***********************************************************
                        var subgrid_table_id2;
                        var pager_id2;

                        function changeFinca() {
                            var selrow2 = $("#" + subgrid_table_id2).getGridParam("selrow");

                            if (isNaN(selrow2) || selrow2 == null) {
                                alert("Seleccionar fila de finca");
                                return false;
                            }

                            var r = confirm("Asociar fila " + row_id2 + " con " + selrow2 + " ?")
                            if (r) {
                                $.ajax({
                                    url: '{% url forestal2.fincas.views.assocfincaservizo %}',
                                    data: {
                                        finca: selrow2,
                                        servizo: row_id2
                                    },
                                    dataType: "text",
                                    error: function (e) {
                                        alert("Erro asociando filas (client)");
                                    },
                                    success: function (data, a, b) {
                                        if (data == "OK") {
                                            $("#" + subgrid_table_id).trigger("reloadGrid");
                                        } else {
                                            alert("Erro asociando filas (server)");
                                        }
                                    }
                                });
                            }
                        }


                        subgrid_table_id2 = subgrid_id2 + "_t";
                        pager_id2 = "p_" + subgrid_table_id2;
                        $("#" + subgrid_id2).html("<table id='" + subgrid_table_id2 + "' class='scroll'></table><div id='" + pager_id2 + "' class='scroll'></div>");
                        $("#" + subgrid_table_id2).jqGrid({
                            url: '{% url forestal2.fincas.views.gridfinca %}',
                            datatype: "json",
                            colNames: ['id', 'concello', 'zona', 'poligono', 'parcela', 'superficie', 'dono'],
                            colModel: [{
                                name: 'id',
                                index: 'id',
                                width: 55
                            }, {
                                name: 'concello',
                                index: 'concello',
                                width: 120
                            }, {
                                name: 'zona',
                                index: 'zona',
                                width: 60,
                                align: 'right'
                            }, {
                                name: 'poligono',
                                index: 'poligon',
                                width: 60,
                                align: 'right'
                            }, {
                                name: 'parcela',
                                index: 'parcela',
                                width: 90,
                                align: 'right'
                            }, {
                                name: 'ha_total',
                                index: 'ha_total',
                                width: 90,
                                align: 'right'
                            }, {
                                name: 'dono',
                                index: 'dono',
                                width: 220,
                                align: 'right'
                            }],
                            caption: "Fincas - Parcelas",
                            height: "auto",
                            rowNum: 15,
                            sortname: 'id',
                            sortorder: "asc",
                            pager: pager_id2
                            //postData:{id:$('table#'+subgrid_table_id+' tbody tr#'+row_id+' td[aria-describedby=list2_id_origen]').html()},
                            //editUrl: "server.php"
                        });
                        jQuery("#" + subgrid_table_id2).jqGrid('navGrid', "#" + pager_id2, {
                            edit: true,
                            add: true,
                            del: false,
                            search: true,
                            editfunc: function () {
                                var selrow = $("#" + subgrid_table_id2).getGridParam("selrow");
                                var editUrl = '{% url admin:fincas_finca_change 0 %}'.replace('0', selrow);
                                window.open(editUrl, '_blank', 'scrollbars=1,status=1,menubar=1,location=1');
                            },
                            addfunc: function () {
                                var addUrl = '{% url admin:fincas_finca_add %}';
                                window.open(addUrl, '_blank', 'scrollbars=1,status=1,menubar=1,location=1');
                            }
                        }, {}, {}, {}, {
                            multipleSearch: true
                        }).jqGrid('navButtonAdd', "#" + pager_id2, {
                            caption: "Asoc. Finca",
                            title: "Asociar Finca a Servizo Forestal",
                            onClickButton: changeFinca
                        });
                    },
                    */
                });
                jQuery("#" + subgrid_table_id).jqGrid('navGrid', "#" + pager_id, {
                    edit: true,
                    add: true,
                    del: false,
                    search: true,
                    editfunc: function () {
                        var selrow = $("#" + subgrid_table_id).getGridParam("selrow");
                        var editUrl = '{% url admin:fincas_viaxecamion_change 0 %}'.replace('0', selrow);
                        window.open(editUrl, '_blank', 'scrollbars=1,status=1,menubar=1,location=1');
                    },
                    addfunc: function () {
                        var addUrl = '{% url admin:fincas_viaxecamion_add %}';
                        window.open(addUrl, '_blank', 'scrollbars=1,status=1,menubar=1,location=1');
                    }
                }, {}, {}, {}, {
                    multipleSearch: true
                    })
                .jqGrid('navButtonAdd', "#" + pager_id, {
                    caption: "Desasoc. Viaxe",
                    title: "Desasociar Viaxe a Servizo",
                    onClickButton: changeViaxe
                    })
                .jqGrid('navButtonAdd', "#" + pager_id, {
                    caption: "Exportar",
                    title: "Exportar a OpenOffice/Excel",
                    onClickButton: exportViaxes
                    });

            },


            onSelectRow: function (id) {
                /*
                $("#list2").showCol('subgrid').editRow(id, true, null, function () {
                    console.log(1);
                }, 'server.php', {});
                */
            }
        }).jqGrid('navGrid', '#pager2', {
            'add': true,
            'edit': true,
            'del': false,
            'search': true,
            editfunc: function () {
                var selrow = $("#list2").getGridParam("selrow");
                var editUrl = '{% url admin:fincas_tala_change 0 %}'.replace('0', selrow);
                window.open(editUrl, '_blank', 'scrollbars=1,status=1,menubar=1,location=1');
            },
            addfunc: function () {
                var addUrl = '{% url admin:fincas_tala_add %}';
                window.open(addUrl, '_blank', 'scrollbars=1,status=1,menubar=1,location=1');
            }
        }, {}, {}, {}, {
            multipleSearch: true
        });


        /*********
         Deprecated Secondary Grid
         +********/


				// Grid fincas
				{% if restriction == "origin" %}

				$("#list").jqGrid({
					url:'{% url forestal2.fincas.views.grid %}',
					datatype: 'json',
					mtype: 'GET',
					colNames:['id','concello', 'poligono','parcela','Permiso','Comezo','Codigo'],
					colModel :[ 
						{name:'id', index:'id', width:55}, 
						{name:'concello', index:'concello', width:150}, 
						{name:'poligono', index:'poligono', width:80, align:'right'}, 
						{name:'parcela', index:'parcela', width:90, align:'right'}, 
						{name:'permiso', index:'permiso', width:140, align:"center"}, 
						{name:'comezo', index:'comezo', width:140, align:"center"},
						{name:'codigo PEFC', index:'codigoPECL', width:140, align:"center"} 
					],
					pager: '#pager',
					rowNum:20,
					rowList:[20,30],
					sortname: 'comezo',
					sortorder: 'asc',
					viewrecords: true,
					caption: 'Talas',
					height: 'auto',

					beforeSelectRow: function(id) {

						if (id == selectedFinca) {
							selectedFinca= false;
							caption2.html("Finca Non Seleccionada.");
						} else {
							selectedFinca= id;
							caption2.html("Finca "+id+" Seleccionada.");
						}
						checkFincaViaxe();
						return true;

					}
        }).jqGrid('searchGrid', {multipleSearch:true})
        .navGrid('#pager', {'add':false, 'edit':false, 'del':false, 'search':false}); 

				{% else %}

				{% endif %}


			}); 

			$("#associate").click( function() {
					ligar();
			});

			function checkFincaViaxe() {
				if (selectedFinca && selectedViaxe) {
					$("#associate").css("visibility","visible");
					return true;
				} else {
					$("#associate").css("visibility","hidden");
					return false;
				}
			}


			function ligar() {
				if (!checkFincaViaxe()) {
					alert("Selecciona 1 finca e 1 viaxe de camion");
					return;
				}

				action = "ligar";

				$.get("{% url forestal2.fincas.views.joinviaxefinca %}",
					{ idviaxe: selectedViaxe, idtala: selectedFinca, action: action },
					function(data) {
							if (data!="OK")
								alert("Erro");
							else if (action=="ligar") {
								$("#list2").trigger("reloadGrid");
							} else {
								$("#response").html("Ninguna finca seleccionada");
								lastSel = false;
							}

					}
				);

			}
					
		};


		</script>
{% endblock %}
